body {
    padding-top: 70px;
}

.auth-btn {
    background-color: #f2f2f2;
    color: #1f1f1f;
    padding: 0 12px;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 14px;
    font-family: 'Roboto', arial, sans-serif;
    height: 40px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; /* Removes underline from the link */
    transition: background-color 0.3s;
}

.auth-logo {
    margin-right: 10px;
    height: 25px;
}

.auth-btn:hover {
    background-color: #bdbdbd; /* Darker shade on hover */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}